@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: gray;
  color: white;
  transform: scale(1.5);
  overflow: hidden;
}
header {
  margin: 0 auto;
  width: 768px;
}
h1 {
  padding: 1.2rem 0;
  margin: 0;
}
.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
  background: #000000;
}